// -----------------------------------------------------------------------------
// colors
// -----------------------------------------------------------------------------
$black:                          #000000;
$table-row-selected-color:       #EEEEEE;
$table-row-separator-color:      #C0C0C0;
$white:                          #FFFFFF;