/* -----------------------------------------------------------------------------
 * Primary Styles
 * -------------------------------------------------------------------------- */

/* apply a natural box layout model to all elements */
* {
    @include box-sizing(border-box);
}

header {
    border-bottom: 1px solid $black;
    margin-bottom: 10px;
    padding: 4px 10px;
}

header h1 {
    font: normal normal 16px/22px Arial;
    margin: 0;
}

/* -----------------------------------------------------------------------------
 * General Purpose Classes
 * -------------------------------------------------------------------------- */
.nodisplay {
    display: none;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

/* -----------------------------------------------------------------------------
 * Chosen control
 * -------------------------------------------------------------------------- */
.chzn-container {
    margin-bottom: 10px;
}