.schedule-table {
    float: left;
    margin-left: 10px;

    thead {
        background-color: #0e90d2;
        color: #ffffff;
    }

    tbody tr.selected {
        background-color: $table-row-selected-color;
    }

    th, td {
        height: 25px;
        padding: 0 10px;
    }

    td {
        border-bottom: 1px solid $table-row-separator-color;
    }

    .date {
        text-align: left;
    }

    td.date {
        font-family: monospace;
    }

    .home-team, .away-team {
        text-align: center;
    }
}